
@{
    ViewData["Title"] = "PartialWithAjax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PartialWithAjax</h1>



<p><button class="btn btn-primary" id="load">Load</button></p>



<div id="grid"></div>

@section scripts{
    <script>
        $(function () {
            $('#load').on('click', function () {
                $('#grid').load('/PartialView/OnGetAnimalPartial');
            });
        });
    </script>
}